.btn{
    color: black;
    background-color:#ffc300;
    padding: 10px 30px;
    display: inline-block;
    font-weight: bold;
    margin: 20px;
    
}
.btn-1{
    background-color: #fff;
    color: black;
    border: 2px solid #ffc300;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 12px;

    
}
#works h1{
     text-align: center;
     }
#works h1::after{
    content: '';
    background: #ffc300;
    display: block;
    height: 3px;
    width:170px;
    margin: 20px auto 5px;
}
#pic {
  background: url("../img/test-bg.jpg")no-repeat  center center/cover;
  position: center;
  opacity: 0.8;
  width:100%;

}
#print{
    display: flex;
   flex-wrap: wrap;
   margin: 20px;
  justify-content: space-between;
}
.prints{
    
}
.print1{
    height: 400px;
    width: 400;
    margin: 20px 10px 15px;
    text-align: left;
}
.print1 img{
    height: 300px;
    width: 300px;
    
}
.prints h1{
    color:#fff;
    text-align: center;
}
.prints p{
    color: #fff;
    text-align: center;
}
#pic .btn-2{
   background: #444;
   color:#fff;
   border: 2px solid #ffc300;
   font-weight: 500;
   border-radius: 12px;
  
}
/* Section: Clients */
#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 15%;
}
.quotes-text  {
    background: black;
    text-align: center;
    color:#fff;
    padding:10px ;
    height: 40vh;;

}

.m-heading {
    text-align: center;
    color: yellow;
}
/* Section: contact us */
#contact .items {
    display: flex;
    padding: 1rem;
}

#contact .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#contact .items .item i {
    color: yellow;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section:send us a message */
.wrapper {
    display: flex;
    padding: 80px 80px 10px 80px;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
   
}
form {
    color:white;
    margin: 50px 0px;
}
.form-heading {
    text-align: center;
}  
input[type=text],input[type=mail]
{
    height: 50px;
    width: 280;
    border: 1px solid white;
    background-color: rgb(44, 43, 43);
  
}

textarea{
    height: 200px;
    width: 1000px;
    border: 1px solid white;
    background-color: rgb(44, 43, 43);
}